@media (min-width: 2700px) {
  .bonus__wrapper {
    padding: 32px 0 70px 0;
  }
}

@media (max-width: 2700px) {
  .bonus__wrapper {
    padding: 32px 0 70px 0;
  }
}

@media (max-width: 1700px) {
  .bonus__back1,
  .bonus__back2,
  .bonus__back3,
  .bonus__back4 {
    display: none;
  }

  .bonus__benefit {
    position: relative;

    padding: 20px 40px 20px 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 1139px) {
  .bonus__title {
    margin-left: 2px;

    font-size: 80px;
    line-height: 80px;
  }

  .bonus__percent {
    margin-left: 2px;

    font-size: 100px;
    line-height: 90px;
  }

  .bonus__deposit {
    margin-left: 2px;

    font-size: 24px;
  }

  .bonus__uah {
    top: 40px;
    right: 0px;

    width: 450px;
    height: 300px;
  }

  .bonus__truck {
    top: 140px;
    right: 60px;
  }

  .bonus__truck img {
    width: 380px;
    height: 320px;
  }

  .bonus__first-player {
    position: absolute;
    top: 45%;
    right: 40%;
  }

  .bonus__first-player img {
    width: 180px;
    height: 260px;
  }

  .bonus__back1,
  .bonus__back2,
  .bonus__back3,
  .bonus__back4 {
    display: none;
  }

  .bonus__replenish {
    font-size: 17px;
  }

  .bonus__money {
    font-size: 20px;
  }

  .bonus__btn {
    width: 280px;
    padding: 15px 0;

    font-size: 20px;
  }

  .features__item {
    width: 210px;
    padding: 17px 0 17px 70px;

    font-size: 14px;
  }

  .features__item::before {
    width: 45px;
    height: 45px;

    font-size: 38px;
  }

  .advantages__item {
    padding: 13px 0 7px 0;
    width: 145px;
  }

  .advantages__item svg {
    margin-left: 15px;
    margin-right: 10px;
  }

  .advantages__text {
    font-size: 8px;
  }

  .page-footer__list {
    width: 100%;
    margin: 0 auto;
  }

  .page-footer__link {
    padding: 20px 0 20px 0;
  }

  .page-footer__copyright {
    width: 280px;
    padding: 18px 0 20px 0;

    font-size: 8px;
  }

  .copyright__link {
    font-size: 8px;
  }
}

@media (max-width: 767px) {
  .background__wrapper {
    background-image: url("../img/bg-mobile.jpg");
    background-position: top center;
    background-size: auto;
  }

  .container {
    width: 260px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-header__wrapper {
    justify-content: center;

    padding: 17px 0 7px 0;
    border-bottom: none;
  }

  .page-header__slogan {
    display: none;
  }

  .page-header__logo svg {
    width: 120px;
    height: 20px;
  }

  .bonus__wrapper {
    padding: 0 0 30px 0;
  }

  .bonus__header {
    margin-bottom: 175px;

    text-align: center;
  }

  .bonus__title {
    font-size: 61px;
    line-height: 53px;
  }

  .bonus__percent {
    margin-left: -7px;
    margin-bottom: 0;

    font-size: 82px;
    line-height: 75px;
  }

  .bonus__deposit {
    font-size: 19px;
  }

  .bonus__first-player {
    top: 42%;
    right: 70%;
    z-index: 1;
  }

  .bonus__first-player img {
    width: 98px;
    height: 149px;
  }

  .bonus__back1,
  .bonus__back2,
  .bonus__back3,
  .bonus__back4 {
    display: none;
  }

  .bonus__uah {
    top: 130px;
    left: 10px;
    width: 275px;
    height: 188px;
    background-image: url(../img/uah-mobile.png);
  }

  .bonus__truck {
    top: 162px;
    left: -14px;
  }

  .bonus__truck img {
    width: 300px;
    height: 190px;
  }

  .bonus__benefit {
    position: relative;
    z-index: 2;

    margin-bottom: 0;
    padding: 20px 0 12px 0;

    text-align: center;
  }

  .bonus__replenish {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .bonus__money {
    font-size: 18px;
  }

  .bonus__btn {
    width: 260px;
    padding: 16px 0;

    font-size: 20px;
  }

  .features {
    margin-bottom: 28px;
    padding: 20px 0 0 0;
    background-color: #032801;
  }

  .features__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 10px;
  }

  .features__item {
    width: 240px;
    margin-bottom: 28px;
    padding: 18px 0 18px 80px;

    font-size: 16px;
  }

  .features__item::before {
    top: 5px;
    left: 5px;

    width: 50px;
    height: 50px;

    font-size: 42px;

    box-shadow: 0 0 0 5px #054503,
    0 0 0 10px #ffffff
  }

  .features__item::after {
    display: none;
  }

  .advantages {
    margin-bottom: 15px;
  }

  .advantages .container {
    margin-bottom: 15px;
  }

  .advantages .container {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .advantages__item {
    padding: 0;
    align-items: center;
    width: 270px;
    min-height: 65px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .advantages__item svg {
    margin-left: 55px;
    margin-right: 15px;
  }

  .advantages__item:first-child svg {
    margin-left: 60px;
    margin-right: 25px;
  }

  .advantages__text {
    font-size: 13px;
  }

  .page-footer__list {
    flex-wrap: wrap;

    padding: 10px 20px 14px 20px;
    box-sizing: border-box;
  }

  .page-footer__link {
    padding: 15px 0 5px 0;
  }

  .page-footer__item--visa {
    order: 3;
  }

  .page-footer__item--mastercard {
    order: 1;
  }

  .page-footer__item--mastercard svg {
    width: 35px;
  }

  .page-footer__item--privat24 {
    order: 2;
  }

  .page-footer__item--privat24 svg {
    width: 140px;
  }

  .page-footer__item--liqpay {
    order: 4;
  }

  .page-footer__item--liqpay svg  {
    width: 126px;
  }

  .page-footer__item--sofort {
    order: 5;
  }

  .page-footer__item--currency {
    order: 6;
  }

  .page-footer__copyright {
    width: 220px;
    flex-wrap: wrap;
    font-size: 11px;
  }

  .copyright__link {
    font-size: 11px;
  }

  .page-footer__rights {
    margin: 0 auto;
  }
}
